[Desktop Entry]
Type=Application
Name=Lock Screen
Comment=Lock the session
Exec=loginctl lock-session
Icon=system-lock-screen
Terminal=false
Categories=System;
NoDisplay=true
X-KDE-Shortcuts=Meta+Ctrl+L
